.Privacy_Main_Div {
  width: 75%;
  margin: auto;
  text-align: justify;
  padding: 25px;
  line-height: 2rem;
}
.Privacy_h1 {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 20px;
}
.mainP {
  font-weight: 650;
}


.Refund_main_pp {
  font-size: 35px;
  font-weight: 400;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
}
.Refund_main_p {
  font-size: 30px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
}
.Refund_P {
  font-size: 23px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-style: normal;
}
