.Earn {
  font-size: 36px;
  margin-left: 10.5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Main {
  display: flex;
  width: 87%;
  margin: auto;
  gap: 35px;
}

.child {
  border: 1px solid black;
  height: 350px;
  width: 370px;
}
.Number {
  text-align: center;
  margin-bottom: 40px;
  background-color: #f0f8ff;
  height: 40px;
  width: 30px;
  margin-top: 20px;
  border: 1px solid #f0f8ff;
  margin-left: 45%;
  border-radius: 50%;
  line-height: 40px;
  margin-bottom: 2px;
}
.heading {
  font-size: 30px;
  margin-left: 5px;
  margin-right: 25px;
  line-height: 30px;
  text-align: center;
}
li {
  margin-left: 25px;
}

.image {
  margin-top: 50px;
  margin: 70px;
  width: 90%;
  height: 600px;
}
.button {
  height: 40px;
  width: 110px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #337ab7;
  border: none;
  border-radius: 5px;
  margin-left: 45%;
  color: #f0f8ff;
}
